/************************************************
*********************global section**************
************************************************/

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: .05em;
}

p{
    color: #64707B;
/*    font-weight: 300;*/
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

ul{
    margin: 0;
    padding: 0;
}

h3{
        text-transform:uppercase;
        font-weight: 600;
        color: #41464B;
    padding-top: 2rem;
        padding-bottom: 2rem;
        font-size: 2rem;
        margin-left: 42rem;
}

.header-border{
    border-bottom: solid 2px #337ab7;
    margin-right: 48rem;
    margin-left: 46rem;
    margin-bottom: 1rem;
}

.animated{
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
}

/*****************************************
************* header section *************
******************************************/

.header{
    display: flex;
    justify-content: space-between;
    height: 2.25rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999999;
/*    padding: 1.5rem 1rem;*/
    background: rgba(0,0,0,0.7);
    padding: 1rem;
    font-weight: 700;
    
}

/*    opacity: 99%;*/

.header a{
        color: #FFF;
    }

.header__lists{
        padding: 0.5rem 0rem;
    }

.header__lists__links{
            padding: 0 0.5rem;
        }

.logo{
    padding:0 1rem;
    font-size: 1.7rem;
}

/*****************************************
************* home section ***************
******************************************/

.home__text {
        z-index: 999;
/*        margin: 15rem 15rem;*/
        margin: 15rem 0;
        margin-left: 16.3rem;
        
        padding: 0 5rem;
        text-align: center;
        position: absolute;
        top: 0;
    }

.home__text p {
            padding: 0.1rem 0;
            font-size: 3rem;
            color: #FFF;
            letter-spacing: 0.1rem;
            font-weight: 700;
        }

.home-btn {
    margin: 2rem 0;
}

.bg-home {
    background-image: url("/css/bg-home.jpg");
    z-index: -999;
    height: 100vh;

}

/*********************************
******** button section **********
*********************************/

.btn-general{
    border: solid 0.125rem #fff;
    border-radius: 0;
    padding: 0.8rem 1.5rem;
    text-transform: uppercase;
    font-size: 1rem;
}

.btn-white{
    border-color: #fff;
    color: #fff;
}

.btn-white:hover,
.btn-white:focus{
    background: #fff;
    color: #41464B;
}

.btn-blue{
    border-color: #34C6D3;
    color: #34C6D3;
}

.btn-blue:hover,
.btn-blue:focus{
    background: #34C6D3;
    color: #fff;
}

.service {
    background: #FFF;
}

.service__grid {
        padding: 0 10rem;
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        grid-gap: 2rem;
        margin: 0rem 7rem;
    }

.service__icon {
        padding-right: 1rem;
        display: inline-block;

    }

.service__icon i {
            color: #34C6D3;
            padding: 0.5rem;
        }

.service__title {
        top: 0;
        display: inline-block;
        font-family: inherit;
        font-weight: 500;
        padding-bottom: 0.8rem;
        text-transform: uppercase;
        font-size: 1.3rem;
    }

.service__content {
        padding-left: 4.5rem;
        font-weight: 300;

    }

.service__item:hover {
        cursor: pointer;
    }

.service__item:hover i {
            color: #FFF;
            background: #34C6D3;
        }

.bg-about{
    position: fixed;
/*    height: 100%;*/
/*    box-sizing: border-box;*/
    top: 500rem;
}

.work {
    background: #FFF;
}

/*    padding: 2rem 0rem;*/

.work__grid {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr;
    }

.img_wrapper{
    overflow: hidden;
}

.work_img {
    box-sizing: border-box;
    height: 25rem;
    width: 100%;
}

.work_img:hover {
    transition: 0.5s;
    transform: scale(1.5);
    cursor: zoom-in;
}

.team__container{
            padding: 1rem 10rem;
    }

.member__name{
    text-align: center;
    padding: 0.5rem 0rem;
}

.member__designation{
    text-align: center;
    padding: 0rem 0;
}

p{
    padding-top: 0.25rem;
    text-align: center;
}

.testimonial h3 {
         color: #FFF;
        margin-left: 36rem;
    }

.testimonial p{
         color: #FFF;
    }

.testimonial .header-border {
    margin-left: 47rem;
    margin-right: 47rem;
}

.bg-testimonial {
    background-image: url('/css/bg-testimonials.jpg');
   
}

.customer-img {
    padding: 1rem 44rem;
    text-align: center;
/*    height: 7rem;*/
    width: 7rem;
}

.customer-img img {
        padding-top: 1rem;
        border-radius: 100%;
    }

.testimonial__text{
    padding: 1rem 15rem;
    font-size: 1.5rem;
    line-height: 2rem;
     color: #FFF;
}

/******************************************************
                    PRICING TABLE
******************************************************/

.pricing-table{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    padding: 30px 20px;
    border-radius: 5px;
    transition: all .3s linear;
    border: solid 4px #34C6D3;
}

.pricing-table .type{
    border-bottom: solid 1px #E0E0E0;
    padding-bottom: 20px;
}

.pricing-table .price{
    border-bottom: solid 1px #E0E0E0;
    padding-bottom: 20px;
}

.pricing-table .type h4{
    color: #000;
    font-size: 24px;
    transition: all .3s linear;
}

.pricing-table .price{
    padding-top: 20px;
}

.pricing-table .price h2{
    font-family: "Montserrat", sans-serif;
    font-size: 42px;
    font-weight: 100;
    position: relative;
    margin: 0 0 0 25px;
}

.pricing-table .price span{
    font-family: "Raleway" , sans-serif;
}

span.dollar{
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    top: 5px;
    left: -20px;
}

span.per-month{
    font-size: 10px;
    font-weight: 400;
    position: absolute;
    bottom: -15px;
}

.pricing-table .price p{
    line-height: normal;
    font-weight: 300;
}

ul.package{
    list-style: none;
    padding: 20px 0;
}

ul.package li{
    font-size: 13px;
    font-weight: 400;
    line-height: 40px;
    font-family: "Montserrat", sans-serif;
}

ul.package li i{
    padding-right: 20px;
}

.pricing-table .btn{
    margin: 0;
    border: solid 1px #34C6D3;
}

.pricing-table:hover .btn{
    background-color: #FFF;
    color: #212226;
}

.pricing-table .btn:hover{
    background-color: #212226!important;
    color: #FFF;
}

.pricing-table .pricing-table-black{
    background: #34C6D3;
    color: #FFF;
}

.pricing-table .pricing-table-black .type h4{
    color: #FFF;
}

.pricing-table.pricing-table-black{
    background: #34C6D3;
    color: #FFF;
    position: relative;
    top: -20px;
    height: 30rem;
}

.pricing-table.pricing-table-black .btn{
    border: solid 1px #000;
    background: #FFF;

}

.price-container{
/*    padding: 0 10rem;*/
    padding: 0 10rem;
}

#pricing .header-border{
    margin-left: 47rem;
    margin-right: 47rem;
}

#stats{
    background-image: url(/css/bg-stats.jpg);
/*    min-height: 4000px;*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FFF;
}

/*    position: relative;*/

#stats h3{
      color: #FFF;  
        margin-left:  35rem;
    }

.overlay{
    position: relative;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
}

.stats-item{
    display: inline-block;
    padding: 0 4rem;
    text-align: center;
/*    span{*/
/*        display: inline-block;*/
    
}

/*    color: #34C6D3;*/

.stats-item i{
        color: #34C6D3;
/*        text-align: center;*/
        display: block;
    }

.stats-item h4, .stats-item span{
        font-size: 2rem;
/*        text-align: center;*/
        display: inline-block;
    }

/*    }*/

.stats-item p{
        font-size: 1.5rem;
        color: #FFF;
    }

.stats__container{
/*    padding: 2rem 40rem;*/
    padding: 4rem 0;
    padding-left: 18rem;
}

#clients{
    margin: 3rem 5rem;
}

#clients h3{
        margin: 0 39rem;
    }

.header-border{
    margin-right: 42rem;
    margin-left: 42rem;
}