/************************************************
*********************global section**************
************************************************/

*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: .05em;
}


p{
    color: #64707B;
/*    font-weight: 300;*/
}


a{
    text-decoration: none;
}
li{
    list-style: none;
}
ul{
    margin: 0;
    padding: 0;
}
h3{
        text-transform:uppercase;
        font-weight: 600;
        color: #41464B;
    padding-top: 2rem;
        padding-bottom: 2rem;
        font-size: 2rem;
        margin-left: 42rem;
}

.header-border{
    border-bottom: solid 2px #337ab7;
    margin-right: 48rem;
    margin-left: 46rem;
    margin-bottom: 1rem;
}

.animated{
    animation-duration: 0.5s;
    animation-delay: 0.2s;
}

