/*********************************
******** button section **********
*********************************/

.btn-general{
    border: solid 0.125rem #fff;
    border-radius: 0;
    padding: 0.8rem 1.5rem;
    text-transform: uppercase;
    font-size: 1rem;
}
.btn-white{
    border-color: #fff;
    color: #fff;
}
.btn-white:hover,
.btn-white:focus{
    background: #fff;
    color: #41464B;
}
.btn-blue{
    border-color: #34C6D3;
    color: #34C6D3;
}
.btn-blue:hover,
.btn-blue:focus{
    background: #34C6D3;
    color: #fff;
}
