/*****************************************
************* header section *************
******************************************/
.header{
    display: flex;
    justify-content: space-between;
    height: 2.25rem;
    position: sticky;
    top: 0;
    z-index: 999999;
/*    padding: 1.5rem 1rem;*/
    background: rgba(0,0,0,0.7);
    padding: 1rem;
    font-weight: 700;
/*    opacity: 99%;*/
    a{
        color: #FFF;
    }
    &__lists{
        padding: 0.5rem 0rem;
        &__links{
            padding: 0 0.5rem;
        }
    }
    
}

.logo{
    padding:0 1rem;
    font-size: 1.7rem;
}
