/*****************************************
************* home section ***************
******************************************/
.home {
    
    &__text {
        z-index: 999;
/*        margin: 15rem 15rem;*/
        margin: 15rem 0;
        margin-left: 16.3rem;
        
        padding: 0 5rem;
        text-align: center;
        position: absolute;
        top: 0;
        p {
            padding: 0.1rem 0;
            font-size: 3rem;
            color: #FFF;
            letter-spacing: 0.1rem;
            font-weight: 700;
        }
    }
}

.home-btn {
    margin: 2rem 0;
}

.bg-home {
    background-image: url("/css/bg-home.jpg");
    z-index: -999;
    height: 100vh;

}
