/******************************************************
                    PRICING TABLE
******************************************************/
.pricing-table{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    padding: 30px 20px;
    border-radius: 5px;
    transition: all .3s linear;
    border: solid 4px #34C6D3;
}


.pricing-table .type{
    border-bottom: solid 1px #E0E0E0;
    padding-bottom: 20px;
}
.pricing-table .price{
    border-bottom: solid 1px #E0E0E0;
    padding-bottom: 20px;
}

.pricing-table .type h4{
    color: #000;
    font-size: 24px;
    transition: all .3s linear;
}


.pricing-table .price{
    padding-top: 20px;
}

.pricing-table .price h2{
    font-family: "Montserrat", sans-serif;
    font-size: 42px;
    font-weight: 100;
    position: relative;
    margin: 0 0 0 25px;
}

.pricing-table .price span{
    font-family: "Raleway" , sans-serif;
}

span.dollar{
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    top: 5px;
    left: -20px;
}


span.per-month{
    font-size: 10px;
    font-weight: 400;
    position: absolute;
    bottom: -15px;
}

.pricing-table .price p{
    line-height: normal;
    font-weight: 300;
}

ul.package{
    list-style: none;
    padding: 20px 0;
}

ul.package li{
    font-size: 13px;
    font-weight: 400;
    line-height: 40px;
    font-family: "Montserrat", sans-serif;
}

ul.package li i{
    padding-right: 20px;
}


.pricing-table .btn{
    margin: 0;
    border: solid 1px #34C6D3;
}
.pricing-table:hover .btn{
    background-color: #FFF;
    color: #212226;
}


.pricing-table .btn:hover{
    background-color: #212226!important;
    color: #FFF;
}

.pricing-table .pricing-table-black{
    background: #34C6D3;
    color: #FFF;
}

.pricing-table .pricing-table-black .type h4{
    color: #FFF;
}

.pricing-table.pricing-table-black{
    background: #34C6D3;
    color: #FFF;
    position: relative;
    top: -20px;
    height: 30rem;
}

.pricing-table.pricing-table-black .btn{
    border: solid 1px #000;
    background: #FFF;

}

.price-container{
/*    padding: 0 10rem;*/
    padding: 0 10rem;
}

#pricing .header-border{
    margin-left: 47rem;
    margin-right: 47rem;
}