.service {
    background: #FFF;

    &__grid {
        padding: 0 10rem;
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        grid-gap: 2rem;
        margin: 0rem 7rem;
    }

    &__icon {
        padding-right: 1rem;
        display: inline-block;

        i {
            color: #34C6D3;
            padding: 0.5rem;
        }

    }

    &__title {
        top: 0;
        display: inline-block;
        font-family: inherit;
        font-weight: 500;
        padding-bottom: 0.8rem;
        text-transform: uppercase;
        font-size: 1.3rem;
    }

    &__content {
        padding-left: 4.5rem;
        font-weight: 300;

    }

    &__item:hover {
        cursor: pointer;

        i {
            color: #FFF;
            background: #34C6D3;
        }
    }
}
