#stats{
    background-image: url(/css/bg-stats.jpg);
/*    min-height: 4000px;*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FFF;
/*    position: relative;*/
    h3{
      color: #FFF;  
        margin-left:  35rem;
    }
}

.overlay{
    position: relative;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
}
.stats-item{
    display: inline-block;
    padding: 0 4rem;
    text-align: center;
/*    color: #34C6D3;*/
    i{
        color: #34C6D3;
/*        text-align: center;*/
        display: block;
    }
    h4, span{
        font-size: 2rem;
/*        text-align: center;*/
        display: inline-block;
    }
/*    span{*/
/*        display: inline-block;*/
/*    }*/
    p{
        font-size: 1.5rem;
        color: #FFF;
    }
    
}

.stats__container{
/*    padding: 2rem 40rem;*/
    padding: 4rem 0;
    padding-left: 18rem;
}