.team{
    
    &__container{
            padding: 1rem 10rem;
    }

}
.member__name{
    text-align: center;
    padding: 0.5rem 0rem;
}

.member__designation{
    text-align: center;
    padding: 0rem 0;
}

p{
    padding-top: 0.25rem;
    text-align: center;
}