.testimonial {
    h3 {
         color: #FFF;
        margin-left: 36rem;
    }
    p{
         color: #FFF;
    }
}

.testimonial .header-border {
    margin-left: 47rem;
    margin-right: 47rem;
}

.bg-testimonial {
    background-image: url('/css/bg-testimonials.jpg');
   
}

.customer-img {
    padding: 1rem 44rem;
    text-align: center;
/*    height: 7rem;*/
    width: 7rem;
    img {
        padding-top: 1rem;
        border-radius: 100%;
    }
}

.testimonial__text{
    padding: 1rem 15rem;
    font-size: 1.5rem;
    line-height: 2rem;
     color: #FFF;
}
