.work {
    background: #FFF;
/*    padding: 2rem 0rem;*/


    &__grid {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr;
    }
}

.img_wrapper{
    overflow: hidden;
}
.work_img {
    box-sizing: border-box;
    height: 25rem;
    width: 100%;
}

.work_img:hover {
    transition: 0.5s;
    transform: scale(1.5);
    cursor: zoom-in;
}

